{{!-- Save edit blog modal --}}
<div class="modal fade" id="saveBlogModal" tabindex="-1" role="dialog" aria-labelledby="saveBlogModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveBlogModalLabel">Save Change</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input id="newFileName" class="form-control" type="text" name="new-file-name"
            placeholder="Enter file name...">
          <p id="fileNameAlert" style="padding: 0 0.5em;"><i>the file name must be NO SPACE, MAX 255
              characters and no accept -. at the end or start of the name</i></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="confirmSaveBtn" class="btn btn-info rounded-pill rounded-btn">
          Confirm Save
        </button>
      </div>
    </div>
  </div>
</div>


{{!--  Blog meta data zone  --}}
<section class="py-1 bg-light">
  <div class="row container-fluid" style="padding: 0 2em; margin: auto">
    <div class="col-md-6 row">
      <div class="col-md-8">
        <label for="title">Title</label>
        <input class="form-control" name="blog-title" id="blogTitle" placeholder="Enter the blog title...">
        <p id="blogTitleAlert"></p>
      </div>
      <div class="col-md-4">
        <label for="blog-date">Date</label>
        <input name="blog-date" id="blogDate" class="form-control" type="date">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row px-3">
        <div class="col-md-8">
          <label for="blog-tags">Tags</label>
          <input name="blog-tags" id="blogTags" placeholder="Enter tags of blog, split by comma (,)..."
            class="form-control">
          <p id="blogTagsAlert"></p>
        </div>
        <div class="col-md-4">
          <label>Publish Mode</label>
          <div class="dropdown">
            <button value="publish" class="btn btn-default dropdown-toggle" type="button" id="blogPublishModeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 1px solid #ced4da; background: #fff">
              Publish
            </button>
            <div class="dropdown-menu" aria-labelledby="blogPublishModeDropdown">
              <button value="publish" class="dropdown-item blog-publish-mode-item">Publish</button>
              <button value="non-publish" class="dropdown-item blog-publish-mode-item">Non-publish</button>
              <button value="private" class="dropdown-item blog-publish-mode-item">Private</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!--  Editor zone  --}}
<section class="row" style="margin: auto">
  <textarea class="col-md-6 full-height markdown-editor" rows="15" id="editor"></textarea>
  <div class="col-md-6 full-height markdown-display" id="markdown"></div>
</section>
<div class="float-right py-3 px-2">
  <button id="saveBlogBtn" type="button" class="btn btn-info rounded-pill rounded-btn">
    <i class="fa fa-save"></i> Save blog
  </button>
</div>


{{!--  Script zone  --}}
{{#section 'script'}}
<script src="/script/editor/script.js"></script>
<script src="/script/lib/highlight.pack.js"></script>
<script>
  hljs.initHighlightingOnLoad()
</script>
{{/section}}
