/* ===== MARKDOWN DISPLAY CUSTOM ===== */
.markdown-display a {
  color: #17a2b8;
  text-decoration: none;
}

.markdown-display a:hover {
  text-decoration: underline;
}

.markdown-display blockquote {
  margin: auto;
  border-left: 0.3em solid #17a2b8;
  background: #eaeaea;
  padding: 0.6em 1em;
  font-family: 'open sans', sans-serif;
  color: #666565;
}

.markdown-display blockquote p {
  width: 100%;
}

.markdown-display code {
  background: #eaeaea;
  border-radius: 0.2em;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  color: #333;
}

.markdown-display pre {
  display: block;
  background: #f3f3f3;
}

.markdown-display pre code {
  background: none;
}

.markdown-display img {
  display: block;
  margin: 1em auto;
  border-radius: 0.2em;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.24);
  max-width: 100%;
}

.markdown-display {
  line-height: 1.5;
}

.markdown-display h1,
.markdown-display h2,
.markdown-display h3,
.markdown-display h4,
.markdown-display h5,
.markdown-display h6 {
  font-family: 'space mono', monospace;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.markdown-display h2 {
  counter-reset: thirdHeader;
}

/* Before custom */
.markdown-display h2::before {
  content: '#';
  display: inline-block;
  position: relative;
  left: -10px;
  color: #ccc;
  font-family: 'roboto-regular';
}
.markdown-display h3::before {
  counter-increment: thirdHeader;
  content: counter(thirdHeader) '. ';
  display: inline-block;
  position: relative;
  left: -10px;
  color: #ccc;
  font-family: 'roboto-regular';
}
.main-content h4::before {
  content: '\25CB';
  display: inline-block;
  position: relative;
  margin-left: 0.3em;
  left: -10px;
  color: #ccc;
  font-family: 'roboto-regular';
}

/* ===== HIGHLIGHTJS ===== */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
}
.hljs,
.hljs-subst {
  color: #444;
}
.hljs-comment {
  color: #888888;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}
.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #bc6060;
}
.hljs-literal {
  color: #78a960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
